* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #2f2e41;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.02em;
}

.container {
  max-width: 1170px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
  border: 2px solid red;
}

header,
footer {
  background-color: #6c63ff;
}

header {
  height: 80px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

section {
  background-color: #fff;
  padding-bottom: 50px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.title {
  font-weight: 700;
  font-size: 44px;
  line-height: 52px;
  text-transform: uppercase;
  text-align: center;
  margin: 100px 0 70px;
}

.card {
  width: 330px;
  border: 2px solid #e7e7e7;
  border-radius: 5px;
  padding: 46px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.cards-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
}

.cardTitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.picture {
  margin: 40px 0 36px;
}

.cardText span {
  font-weight: 700;
}

.nav-list {
  padding: 20px 100px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
}

.list-item {
  padding: 9px 15px;
}

.link {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.linkItem {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .title {
    margin: 46px 0;
    font-size: 36px;
    line-height: 42px;
  }

  .nav-list {
    padding: 20px 0;
  }
}

@media (max-width: 576px) {
  .title {
    margin: 44px 0 36px;
    font-size: 28px;
    line-height: 36px;
  }

  .list-item {
    width: 50%;
  }
}

/* @media (max-width: 360px) {
    .title {
      margin: 38px 0;
      font-size: 28px;
      line-height: 32px;
    }
  
    .list-item {
      width: 33%;
    }
  }      */
